/* theme color */
$--color-primary: red;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

.el-collapse-item__header {
  font-size: 21px;
  line-height: 1.24;
  color: #4d4d4d;
  font-weight: 400;
  padding: 15px 0;
  cursor: pointer;
}
.el-input {
  font-size: 16px;
}

