<template>
  <div>
    <Requisition />
  </div>
</template>

<script>
import Requisition from "../components/Callback";

export default {
  name: "Help",
  components: {
    Requisition
  }
}
</script>

<style scoped>

</style>
