<template>
  <div class="container">
    <Slider />
    <Product />
    <Advantages />
    <Callback />
    <Channels />
    <Details />
    <Devices />
<!--    <Tariffs />-->
  </div>
</template>

<script>
import Slider from '@/components/Slider.vue'
import Product from "@/components/Product";
import Advantages from "@/components/Advantages";
import Callback from "@/components/Callback";
import Channels from "@/components/Channels";
import Details from "@/components/Details";
import Devices from "@/components/Devices";
import Tariffs from "@/components/Tariffs";

export default {
  name: 'Home',
  components: {
    Slider, Product, Advantages, Callback, Channels, Details, Devices, Tariffs
  }
}
</script>
