<template>
  <div class="advantages">
    <div class="advantages__wrapper">
      <h2 class="title">Преимущества</h2>
      <div class="items">
        <div class="item">
          <img class="item__icon" src="../assets/icons/b-icon-multiscreen.svg" />
          <div class="item__text">ТВ на 5 устройствах</div>
        </div>
        <div class="item">
          <img class="item__icon" src="../assets/icons/b-icon-discount.svg" />
          <div class="item__text">Скидка для своих</div>
        </div>
        <div class="item">
          <img class="item__icon" src="../assets/icons/b-icon-special.svg" />
          <div class="item__text">Подписки по спеццене</div>
        </div>
        <div class="item">
          <img class="item__icon" src="../assets/icons/b-icon-gift.svg" />
          <div class="item__text">Первый месяц в подарок</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Advantages"
}
</script>

<style scoped>
.advantages {
  position: relative;
  display: block;
}
.advantages__wrapper {
  margin: 0 auto;
  max-width: 1680px;
  min-width: 320px;
  padding: 0 50px 50px;
}
.title {
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  font-size: 34px;
  line-height: 1.24;
  font-weight: 400;
  color: #4c4c4c;
}
.items {
  width: 100%;
  display: flex;
  table-layout: fixed;
}
.item {
  width: calc(100% / 4);
  padding-left: 20px;
  padding-right: 20px;
  display: block;
  text-align: center;
}
.item__icon {
  max-width: 120px;
  fill: #e30613;
  display: inline-block;
  vertical-align: middle;
  font-size: 60px;
}
.item__text {
  color: #666;
  font-size: 19px;
}
</style>

<style lang="scss" scoped>
@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px) {

  .advantages__wrapper {
    padding: 0 20px;
  }
  .title {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 60px;
  }
  .items {
    display: block;
  }
  .item {
    width: 80%;
    margin: 20px auto;
    padding-bottom: 20px;
  }
}
</style>
