<template>
  <div class="channels">
    <div class="channels__wrapper">
      <h2 class="title">ТВ каналы включены в стоимость пакета</h2>
      <el-select v-model="channelsType" placeholder="Выбрать..">
        <el-option
          v-for="item in channelsTypes"
          :key="item"
          :label="item"
          :value="item">
        </el-option>
      </el-select>
      <el-row :gutter="20" class="channels__items">
        <el-col
          v-for="channel in channels"
          :key="channel.title"
          :xs="8" :sm="6" :md="4" :lg="3" :xl="3"
          class="channels__item">
          <img class="channels__item-logo" :src="channel.logo">
          <div class="channels__item-title">{{ channel.title }}</div>
        </el-col>
      </el-row>
    </div>
  </div>
</template>

<script>
export default {
  name: "Channels",
  data() {
    return {
      channelsType: 'Федеральные',
      channelsTypes: [
        'Федеральные',
        'Новостные',
        'Познавательные',
        'Кино и сериалы',
        'Детские',
        'Спортивные',
        'Документальные',
        'Музыкальные',
        'Хобби и досуг',
        'Магазин на диване',
        'Для взрослых'
      ],
      channelsItems: [
        [
          {
            logo: require('../assets/channels/epg1.png'),
            title: 'Первый канал'
          },
          {
            logo: require('../assets/channels/epg2.png'),
            title: 'Россия 1'
          },
          {
            logo: require('../assets/channels/epg611.png'),
            title: 'Матч ТВ'
          },
          {
            logo: require('../assets/channels/epg4.png'),
            title: 'НТВ'
          },
          {
            logo: require('../assets/channels/epg6.png'),
            title: 'Культура'
          },
          {
            logo: require('../assets/channels/epg7.png'),
            title: 'Россия 24'
          },
          {
            logo: require('../assets/channels/epg8.png'),
            title: 'Карусель'
          },
          {
            logo: require('../assets/channels/epg264.png'),
            title: 'ОТР'
          },
          {
            logo: require('../assets/channels/epg14.png'),
            title: 'ТВ Центр'
          },
          {
            logo: require('../assets/channels/epg13.png'),
            title: 'РЕН'
          },
          {
            logo: require('../assets/channels/epg391.png'),
            title: 'Спас'
          },
          {
            logo: require('../assets/channels/epg9.png'),
            title: 'СТС'
          },
          {
            logo: require('../assets/channels/epg21.png'),
            title: 'Домашний'
          },
          {
            logo: require('../assets/channels/epg15.png'),
            title: 'ТВ-3'
          },
          {
            logo: require('../assets/channels/epg266.png'),
            title: 'Пятница!'
          },
          {
            logo: require('../assets/channels/epg22.png'),
            title: 'Звезда'
          },
          {
            logo: require('../assets/channels/epg71.png'),
            title: 'Мир'
          },
          {
            logo: require('../assets/channels/epg10.png'),
            title: 'ТНТ'
          },
          {
            logo: require('../assets/channels/epg380.png'),
            title: 'МУЗ-ТВ'
          },
          {
            logo: require('../assets/channels/epg388.png'),
            title: 'Россия 1 HD'
          },
          {
            logo: require('../assets/channels/epg268.png'),
            title: 'Первый HD'
          }
        ],
        [
          {
            logo: require('../assets/channels/epg63.png'),
            title: 'РБК ТВ'
          },
          {
            logo: require('../assets/channels/epg387.png'),
            title: 'Промо МТС'
          },
          {
            logo: require('../assets/channels/epg114.png'),
            title: 'МТС-Инфо'
          },
          {
            logo: require('../assets/channels/epg706.png'),
            title: 'Известия HD'
          },
          {
            logo: require('../assets/channels/epg389.png'),
            title: 'Мир 24'
          },
          {
            logo: require('../assets/channels/epg507.png'),
            title: 'ВМЕСТЕ-РФ'
          }
        ]
      ]
    }
  },
  computed: {
    channels() {
      let index = this.channelsTypes.map((channel, index) => {
        if (channel === this.channelsType)
          return index
      }).filter(index => (index !== null) && (index !== undefined))[0]
      return this.channelsItems[index]
    }
  }
}
</script>

<style lang="scss" scoped>
.el-select-dropdown__item {
  font-family: 'MTS Sans', Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
}
.channels {
  position: relative;
  display: block;
}
.channels__wrapper {
  margin: 0 auto;
  max-width: 1680px;
  min-width: 320px;
  padding: 50px 200px;
}
.title {
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 34px;
  line-height: 1.24;
  font-weight: 400;
  color: #4c4c4c;
}
.el-select {
  text-align: center;
  margin: 0 auto 2.22rem;
}
.channels__item {
  margin-bottom: 25px;
}
.channels__item-logo {
  position: relative;
  border: 1px solid #e5e5e5;
  width: 100%;
  border-radius: 8px;
}
.channels__item-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
</style>

<style lang="scss" scoped>
@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px) {

  .channels__wrapper {
    margin: 0 auto;
    max-width: 1680px;
    min-width: 0;
    padding: 30px 30px;
  }
  .title {
    margin-left: 0;
    margin-right: 0;
  }

}
</style>
