<template>
  <div class="details">
    <div class="details__wrapper">
      <h2 class="title">Подробности</h2>
      <el-collapse>
        <el-collapse-item name="1">
          <template slot="title">
            <img class="collapse__item-icon" src="../assets/icons/b-icon_favorites.svg" height="35" alt="">
            Попробуй бесплатно
          </template>
          <div class="collapse__item-text">Безлимитный доступ к онлайн-кинотеатру ivi</div>
          <div class="collapse__item-text">iCloud - сервис для хранения ваших фото, файлов и многого другого</div>
        </el-collapse-item>
        <el-collapse-item name="2">
          <template slot="title">
            <img class="collapse__item-icon" src="../assets/icons/b-icon_refill.svg" height="35" alt="">
            В плату по тарифу включено
          </template>
          <div class="collapse__item-text">Безлимитный мобильный Интернет</div>
          <div class="collapse__item-text">Пакеты минут и СМС на все сети домашнего региона</div>
          <div class="collapse__item-text">Мобильное ТВ. Подключение до 5 устройств</div>
          <div class="collapse__item-text">Подключение услуг Домашнего Интернета и ТВ</div>
          <div class="collapse__item-text">Стоимость аренды ТВ-приставки</div>
          <div class="collapse__item-text">Тариф действует на территории всей России</div>
        </el-collapse-item>
        <el-collapse-item name="3">
          <template slot="title">
            <img class="collapse__item-icon" src="../assets/icons/b-icon_switch.svg" height="35" alt="">
            Условия подключения и перехода на тариф
          </template>
          <div class="collapse__item-text">Смена текущего тарифа на «Весь МТС Супер IP»: 0.00 руб.</div>
        </el-collapse-item>
        <el-collapse-item name="4">
          <template slot="title">
            <img class="collapse__item-icon" src="../assets/icons/b-icon_clear-doc.svg" height="35" alt="">
            Полные условия тарифа
          </template>
          <div class="collapse__item-text">
            <small>
              С 21 октября 2019 по 31 декабря 2020 года при подключении или переходе на тарифное предложение линейки «Весь МТС» в рамках акции «Месяц в подарок» предоставляется скидка 100% на ежемесячную плату за данный пакет услуг в первый месяц использования. Для подключения на балансе лицевого счета абонента должно быть не менее 300 рублей, данная сумма со счета не списывается. Скидка 40% подразумевает выгоду за счет разницы в ежемесячной цене между пакетом «Весь МТС» и суммой услуг, входящих в пакет по отдельности, за исключением акции «Виртуальная весна дома». При технической возможности подключения услуг фиксированной связи.
            </small>
          </div>
          <div class="collapse__item-text">
            <small>
              К тарифному предложению можно подключиться при наличии технической возможности для предоставления услуг фиксированной связи МТС по нужному адресу. Пакет доступен абонентам — физическим лицам. В пакет входят только открытые версии тарифов.
            </small>
          </div>
          <div class="collapse__item-text">
            <small>
              Данные условия относятся ко всем тарифам линейки «Весь МТС» исключая пакетные предложения «Весь МТС. Спутник», «Весь МТС. Спутник + роутер».
            </small>
          </div>
          <div class="collapse__item-text">
            <small>
              Для подключения должны быть активны услуги мобильной связи, домашнего интернета (ТВ при необходимости) от МТС, и на счете мобильного номера телефона должна быть сумма, достаточная для списания Абонентской платы. Если денег на балансе недостаточно, приходит соответствующее sms-информирование о том, что система ожидает пополнения баланса в течение 4-х суток. При пополнении баланса на сумму, достаточную для списания абонентской платы, подключение произойдет автоматически, на мобильный номер придёт уведомительное sms об успехе. Если баланс так и не будет пополнен, текущие тарифы останутся без изменений.
            </small>
          </div>
          <div class="collapse__item-text">
            <small>
              При подключении платных услуг фиксированной связи и отсутствии денежных средств на балансе единого лицевого счета, все услуги тарифного предложения «Весь МТС» блокируются, если не установлен кредитный лимит, покрывающий запрошенную сумму.
            </small>
          </div>
        </el-collapse-item>
      </el-collapse>
    </div>
  </div>
</template>

<script>
export default {
  name: "details"
}
</script>

<style scoped>
.details {
  position: relative;
  background-color: #f7f7f7;
  display: block;
}
.details__wrapper {
  margin: 0 auto;
  max-width: 1680px;
  min-width: 320px;
  padding: 20px 50px 50px;
}
.title {
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  font-size: 34px;
  line-height: 1.24;
  font-weight: 400;
  color: #4c4c4c;
}
.el-collapse {
  margin: 0 100px;
  background: white;
  padding: 50px 80px;
  border-radius: 10px;
}
.collapse__item-icon {
  margin-right: 20px;
}
.collapse__item-text {
  text-align: left;
  font-size: 21px;
  line-height: 1.24;
  color: #4d4d4d;
  font-weight: 400;
  padding: 15px 0;
  cursor: pointer;
}
</style>

<style lang="scss" scoped>
@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px) {

  .title {
    margin-left: 20px;
    margin-right: 20px;
  }
  .details__wrapper {
    padding: 20px;
  }
  .el-collapse {
    margin: 0;
    padding: 20px 30px;
  }
  .collapse__item-icon {
    width: 30px;
  }
  .collapse__item-text {
    font-size: 16px;
  }
}
</style>

<style lang="scss">
@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px) {
  .el-collapse-item__header {
    font-size: 18px;
  }
}
</style>
