<template>
  <div class="devices">
    <div class="devices__wrapper">
      <h2 class="title">Оборудование</h2>
      <el-row :gutter="30">
        <el-col :xs="24" :sm="24" :md="8" :lg="8" :xl="8">
          <img class="device__image" src="../assets/devices/equipment1.png" alt="">
          <h3 class="device__name">Роутер D-LINK 300 Super max</h3>
          <div class="device__buy">Покупка: <span>60 руб.</span></div>
          <div class="device__rent">Аренда: <span>40 руб.</span></div>
          <div class="device__description">
            Роутер позволяет организовать беспроводную сеть в квартире и пользоваться интернетом с мобильного телефона, ноутбука или планшета.
          </div>
        </el-col>
        <el-col :xs="24" :sm="24" :md="8" :lg="8" :xl="8">
          <img class="device__image" src="../assets/devices/equipment2.png" alt="">
          <h3 class="device__name">САМ-модуль</h3>
          <div class="device__buy">Покупка: <span>60 руб.</span></div>
          <div class="device__rent">Аренда: <span>40 руб.</span></div>
          <div class="device__description">
            Для использования CAM-модуля необходим телевизор, оборудованный DVB-C приемником со встроенным CI разъемом (CI-слот).
          </div>
        </el-col>
        <el-col :xs="24" :sm="24" :md="8" :lg="8" :xl="8">
          <img class="device__image" src="../assets/devices/equipment3.png" alt="">
          <h3 class="device__name">ТВ-приставка</h3>
          <div class="device__buy">Покупка: <span>60 руб.</span></div>
          <div class="device__rent">Аренда: <span>40 руб.</span></div>
          <div class="device__description">
            Современная HD-приставка, имеющая эргономичный и компактный корпус, универсальный пульт, брендированный от МТС, воспроизведение с USB, пауза и запись трансляции.
          </div>
        </el-col>
      </el-row>
    </div>
  </div>
</template>

<script>
export default {
  name: "Devices"
}
</script>

<style lang="scss" scoped>
.devices {
  position: relative;
  display: block;
}
.devices__wrapper {
  margin: 0 auto;
  max-width: 1680px;
  min-width: 320px;
  padding: 50px 200px;
}
.title {
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 34px;
  line-height: 1.24;
  font-weight: 400;
  color: #4c4c4c;
}
img {
  width: 100%;
  height: 170px;
  object-fit: contain;
}
.device__name {
  padding: 10px 0;
  font-weight: 500;
}
.device__buy, .device__rent {
  font-size: 19px;
  margin-bottom: 10px;
  span {
    font-weight: 500;
  }
}
.device__description {
  color: gray;
}
</style>

<style lang="scss" scoped>
@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px) {
  .devices__wrapper {
    margin: 0 auto;
    max-width: 1680px;
    min-width: 0;
    padding: 30px 30px;
  }
  .title {
    margin-left: 0;
    margin-right: 0;
  }
}
</style>
