<template>
  <footer>
    <el-row>
      <el-col :xs="24" :sm="24" :md="6" :lg="8" :xl="8">
        <img src="../assets/logo.png" height="50" alt="">
      </el-col>
      <el-col :xs="24" :sm="24" :md="10" :lg="16" :xl="16">
        <div class="footer__item">МТС Уфа - официальный партнёр ПАО "МТС" ООО "Где лучше" (GDE LUCHSHE, LLC; Юридический̆ адрес: 117342, г. Москва, ул. Бутлерова, дом 17Б, этаж 3, пом. XXI, ком.57Б; ОГРН 1187746671177; ИНН 7728435507)</div>
        <div class="footer__item">Информация размещена на сайте на основании договора с ПАО "МТС" № D180006349-01 и не является публичной офертой.</div>
        <div class="footer__item">Отправляя заявку вы даете свое согласие на обработку персональных данных и соглашаетесь с Политикой обработки персональных данных.</div>
        <div class="footer__item">Вы уже клиент «МТС»? Вы можете управлять услугами в Личном кабинете: login.mts.ru</div>
        <div class="footer__item">Данный ресурс не является официальным ресурсом ПАО "МТС". Услуги связи предоставляются ПАО "МТС".</div>
        <div class="footer__item">Подробную информацию о тарифах, услугах, предоставляемых компанией, а также об ограничениях Вы можете уточнить на сайте www.mts.ru и по телефону 8 (800) 250-08-90</div>
      </el-col>
    </el-row>
  </footer>
</template>

<script>
export default {
  name: "Footer"
}
</script>

<style lang="scss" scoped>
footer {
  padding: 50px 100px;
  background-color: #e5e5e5;
}
img {
  margin-bottom: 40px;
}
.footer__item {
  text-align: left;
  color: #171717;
  margin-bottom: 20px;
  font-size: 15px;
}
</style>

<style lang="scss" scoped>
@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px) {
  footer {
    padding: 40px 35px;
    background-color: #e5e5e5;
  }
}
</style>
