<template>
  <header>
    <div class="top">
      <div class="icons">
        <a href="https://vk.com/mtsufaofficial" target="_blank"><div class="icon icon-vk"></div></a>
        <a href="https://www.facebook.com/mtsufa/" target="_blank"><div class="icon icon-fb"></div></a>
        <a href="https://instagram.com/mtsufa.ru" target="_blank"><div class="icon icon-instagram"></div></a>
      </div>
      <div class="top__items">
        <div class="top__item city">
          Город:
          <span>Уфа</span>
        </div>
        <div class="top__item connect">
          Подключение:
          <span><a href="tel:79655555526">8 (965) 555-55-26</a></span>
        </div>
        <div class="top__item support">
          Тех. поддержка:
          <span><a href="tel:79655555526">8 (965) 555-55-26</a></span>
        </div>
      </div>
    </div>
    <div class="header__wrapper">
      <img src="../assets/logo.png" height="50" alt="">
      <ul class="links">
        <li class="link"><router-link to="/">Тарифы и услуги</router-link></li>
        <li class="link" @click="requisitionOpen"><a href="#">Перейти на МТС</a></li>
        <li class="link" @click="requisitionOpen"><a href="#">Акции</a></li>
        <li class="link"><router-link to="/equipments">Оборудование</router-link></li>
<!--        <li class="link"><router-link to="/tv">Домашний интернет и ТВ</router-link></li>-->
<!--        <li class="link"><router-link to="/satellite">Спутниковое ТВ</router-link></li>-->
        <li class="link"><router-link to="/help">Помощь</router-link></li>
        <li class="link" @click="requisitionOpen"><a href="#">Оставить заявку</a></li>
<!--        <li v-if="currentPath === '/'" class="link"><a href="#" v-scroll-to="'.requisition'">Заказать звонок</a></li>-->
      </ul>
    </div>
<!--    <div class="btn" @click="openRequisition">Оставить заявку</div>-->
  </header>
</template>

<script>
export default {
  name: "Header",
  data() {
    return {
    }
  },
  computed: {
    requisitionState() {
      return this.$store.getters.requisitionState
    },
    currentPath() {
      return this.$route.path;
    }
  },
  methods: {
    requisitionOpen() {
      setTimeout(() => { this.$store.commit('setRequisitionState', true) }, 500)
    }
  }
}
</script>

<style lang="scss" scoped>
header {
  display: block;
}
.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  height: 45px;
  background-color: #f2f3f7;
}
.top__item {
  margin-left: 40px;
}
.header__wrapper {
  display: flex;
  align-items: center;
  padding: 0 50px;
}
.links {
  display: flex;
}

.icons {
  display: flex;
  margin: 10px 0;
}
.icon {
  background-color: #ff0000;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 16px 16px;
  border-radius: 16px;
  display: inline-block;
  vertical-align: middle;
  width: 26px;
  height: 26px;
  margin-right: 10px;
  position: relative;
  transition: .3s;
  &:hover {
    background-color: #bb0000;
  }
}
.icon-vk {
  background-image: url("../assets/icons/b-icon_social-vk_white.svg");
}
.icon-fb {
  background-image: url("../assets/icons/b-icon_social-fb_white.svg");
}
.icon-instagram {
  background-image: url("../assets/icons/b-icon_social-instagram_white.svg");
}
.top__items {
  display: flex;
  align-items: center;
}
.link {
  /*line-height: 40px;*/
  display: inline-flex;
  &:not(:last-child) {
    margin-right: 40px;
  }
}
a {
  line-height: 55px;
  color: #171717;
  text-decoration: none;
}
.router-link-exact-active {
  color: red;
  border-bottom: 2px solid red;
}

</style>

<style lang="scss" scoped>
@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px) {
  .top {
    padding: 0 10px;
  }
  .top__item {
    margin-left: 20px;
    font-size: 10px;
    span {
      font-size: 12px;
      display: block;
    }
    &.support {
      display: none;
    }
  }
  .header__wrapper {
    padding: 0 10px;
    img {
      display: none;
    }
  }
  .links {
    display: block;
    width: 100%;
    padding: 0;
  }
  .link {
    display: block;
    &:not(:last-child) {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
  a {
    line-height: 10px;
    color: #171717;
    text-decoration: none;
  }
}
</style>
