<template>
  <div class="product">
    <div class="product__wrapper">
      <img class="product__image" src="../assets/product.jpg" alt="">
      <div class="product__info">
        <h1 class="product__title">Тариф «Весь МТС Супер IP»</h1>
        <div class="product__subtitle">Домашний интернет + Домашнее ТВ + Мобильная связь</div>
        <div class="product__options">
          <div class="product__option">
            <div class="product__option-title">Мобильная связь</div>
            <div class="product__option-list">
              <div class="product__option-item">
                <img class="product__option-icon" src="../assets/icons/b-icon_unlim_thick.svg">
                <div class="product__option-text">Безлимитный интернет</div>
              </div>
              <div class="product__option-item">
                <img class="product__option-icon" src="../assets/icons/b-icon_options-traffic.svg">
                <div class="product__option-text">800 мин/100 SMS</div>
              </div>
              <div class="product__option-item">
                <img class="product__option-icon" src="../assets/icons/b-icon_mobile-tv.svg"/>
                <div class="product__option-text">137 каналов Мобильного ТВ</div>
              </div>
            </div>
          </div>
          <div class="product__option">
            <div class="product__option-title">Домашний Интернет и ТВ</div>
            <div class="product__option-list">
              <div class="product__option-item">
                <img class="product__option-icon" src="../assets/icons/b-icon_wi-fi_small.svg"/>
                <div class="product__option-text">Интернет 100 Мбит/с</div>
              </div>
              <div class="product__option-item">
                <img class="product__option-icon" src="../assets/icons/b-icon_tv_thick.svg"/>
                <div class="product__option-text">130 каналов IP-телевидения
                  в том числе 30 HD</div>
              </div>
            </div>
          </div>
        </div>
        <div class="product__buy">
          <div class="product__buy-title">Ежемесячный платеж</div>
          <div class="product__buy-price">650 <span> руб.</span></div>
          <div class="product__buy-discount">Первый месяц бесплатно!</div>
          <div class="product__buy-button" v-scroll-to="'header'" @click="requisitionOpen">Хочу этот тариф</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Product",
  methods: {
    requisitionOpen() {
      setTimeout(() => { this.$store.commit('setRequisitionState', true) }, 500)
    }
  }
}
</script>

<style lang="scss" scoped>
.product {
  position: relative;
  margin-bottom: 80px;
}
.product__wrapper {
  margin: 0 auto;
  max-width: 1680px;
  min-width: 320px;
  min-height: 600px;
  padding: 50px 50px 0;
}
.product__image {
  height: 600px;
  margin: auto;
  float: left;
  display: block;
}
.product__info {
  text-align: left;
  float: right;
}
.product__title {
  font-size: 46px;
  font-weight: 300;
  line-height: 1;
  color: #333;
  margin-bottom: 2.3rem;
  margin-right: 60px;
}
.product__subtitle {
  font-size: 21px;
  line-height: 1.24;
  font-weight: 300;
  color: #999;
  margin: -1.8rem 0 1.8rem;
}
.product__options {
  width: 55%;
  padding-right: 12px;
  float: left;
  position: relative;
}
.product__option {
  padding-bottom: 5px;
  position: relative;
}
.product__option-title {
  font-size: 15px;
  line-height: 1.4;
  letter-spacing: .1em;
  text-transform: uppercase;
  color: grey;
  margin-bottom: 12px;
}
.product__option-list {
  padding: 14px 0;
}
.product__option-item {
  position: relative;
  padding-left: 40px;
}
.product__option-icon {
  position: absolute;
  left: 0;
  top: 0;
  height: 23px;
  width: 26px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.product__option-text {
  font-size: 17px;
  line-height: 1.35;
  color: #666;
}
.product__option-item + .product__option-item {
  margin-top: 16px;
}
.product__option + .product__option::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  max-width: 270px;
  width: 270px;
  height: 0;
  border: 1px solid #f2f2f2;
}
.product__option + .product__option {
  padding-top: 22px;
}
.product__options::after {
  width: 0;
  height: 100%;
  content: "";
  position: absolute;
  top: 0;
  right: -2px;
  bottom: 0;
}
.product__options.product__option-list, .product__options::after {
  border-right: 2px solid #f2f2f2;
}
.product__buy {
  width: 40%;
  font-size: 17px;
  padding-left: 18px;
  float: left;
  border-left: 2px solid #f2f2f2;
  position: relative;
  color: #333;
}
.product__buy-title {
  font-size: 19px;
}
.product__buy-price {
  margin-bottom: .2rem;
  font-weight: 500;
  margin-right: 6px;
  font-size: 34px;
  line-height: 1.24;
  span {
    font-size: 17px;
    font-weight: 400;
  }
}
.product__buy-discount {
  color: #e30613;
  font-size: 17px;
  line-height: 1.35;
  margin-top: 5px;
  margin-bottom: 15px;
}
.product__buy-button {
  display: inline-block;
  margin-bottom: 1rem;
  min-width: 150px;
  font-size: 14px;
  line-height: 1;
  background: #e30613;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: background .2s linear,color .2s linear,border .2s linear,box-shadow .2s linear;
  padding: 9px 20px 11px;
  height: 36px;
  color: #fff;
  user-select: none;
  vertical-align: middle;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  font-weight: 500;
  &:hover {
    background-color: #cc061a;
    color: #fff;
  }
}
</style>

<style lang="scss" scoped>
@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px) {

  .product__wrapper {
    padding: 50px 30px;
    min-height: 900px;
    min-width: 0;
  }
  .product__image {
    height: 250px;
    float: none;
  }
  .product__title {
    font-size: 36px;
    text-align: center;
    margin-right: 0;
  }
  .product__subtitle {
    font-size: 15px;
    text-align: center;
  }
  .product__options.product__option-list, .product__options::after {
    border-right: none;
  }
  .product__options {
    width: 100%;
    border-right: none;
    float: none;
  }
  .product__buy {
    float: none;
    width: 100%;
    padding-left: 0;
    padding-top: 20px;
    border-top: 2px solid #f2f2f2;
    border-left: none;
  }
}
</style>
