<template>
  <div class="requisition-form" :class="requisitionState ? 'open' : ''">
    <i @click="closeRequisition" class="close el-icon-close"></i>
    <el-form :model="form">
      <el-form-item label="Имя">
        <el-input v-model="form.name" placeholder="Ваше имя..."></el-input>
      </el-form-item>
      <el-form-item label="Телефон">
        <el-input v-model="form.phone" placeholder="Номер телефона..."></el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="submit">Отправить заявку</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: "Requisition",
  data() {
    return {
      form: {
        name: '',
        phone: ''
      }
    }
  },
  computed: {
    requisitionState() {
      return this.$store.getters.requisitionState
    }
  },
  methods: {
    async submit() {
      this.$message.info('Отправка заявки...')
      const response = await axios.post('/mail.php', this.form)
      if (response.data.includes('true')) this.$message.success('Заявка успешно отправлена')
      else this.$message.error('Не удаётся отправить заявку. Попробуйте позже')
    },
    closeRequisition() {
      this.$store.commit('setRequisitionState', false)
    }
  }
}
</script>

<style lang="scss">
.requisition-form {
  opacity: 0;
  width: 250px;
  transition: .6s;
  padding: 0 50px;
  z-index: -100;
  position: fixed;
  right: -500px;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
}
.requisition-form.open {
  right: 0;
  opacity: 1;
  z-index: 500;
}
.close {
  font-size: 34px;
  position: absolute;
  top: 110px;
  right: 40px;
  cursor: pointer;
  color: #d62b24;
}
</style>

<style lang="scss" scoped>
@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px) {
  .requisition-form {
    width: 200px;
    padding: 0 30px;
  }
}
</style>
