<template>
  <agile :autoplay="true">
    <div class="slide">
      <img src="../assets/slides/slide0.jpg" />
      <div class="caption">
        <h5>
          Переходи на новый тариф «Весь МТС»<br>
          Мобильная связь + Домашний интернет Wi-Fi + ТВ = 650₽<br>
          Оставь заявку сейчас и получи
        </h5>
        <h2>
          МЕСЯЦ БЕСПЛАТНО<br>
          МОБИЛЬНАЯ СВЯЗЬ<br>
          ДОМАШНИЙ WI-FI + ТВ!</h2>
      </div>
    </div>
    <div class="slide">
      <img src="../assets/slides/slide1.jpg" />
      <div class="caption">
        <h5>МТС ТВ,&nbsp;МТС Music,&nbsp;VR-концерты, виртуальная кредитная&nbsp;карта</h5>
        <h2>НЕ СКУЧАЙ ДОМА
          <br>БЛАГОДАРЯ
          <br>СЕРВИСАМ МТС!</h2>
      </div>
    </div>
    <div class="slide">
      <img src="../assets/slides/slide2.jpg" />
      <div class="caption">
        <h5>Для всех абонентов МТС
          <br>1 месяц подписки ivi в подарок</h5>
        <h2>СМОТРИ ФИЛЬМЫ И СЕРИАЛЫ БЕЗ УЧЕТА ТРАФИКА</h2>
      </div>
    </div>
    <div class="slide">
      <img src="../assets/slides/slide3.jpg" />
      <div class="caption">
        <h5>Ваш номер. Наши возможности</h5>
        <h2>Когда хочется большего</h2>
      </div>
    </div>
    <div class="slide">
      <img src="../assets/slides/slide4.jpg" />
      <div class="caption">
        <h5>Ребенок под&nbsp;вашим присмотром</h5>
        <h2>Часы и&nbsp;связь навсегда
          <br>за 2499 ₽</h2>
      </div>
    </div>
    <template slot="prevButton">
      <font-awesome-icon icon="chevron-left" />
    </template>
    <template slot="nextButton">
      <font-awesome-icon icon="chevron-right" />
    </template>
  </agile>
</template>

<script>
export default {
  name: "Slider",
  props: {
    banners: Object
  }
}
</script>

<style lang="sass">
// VueAgile styles
.agile
  &__nav-button
    background: transparent
    border: none
    color: #fff
    cursor: pointer
    font-size: 24px
    height: 100%
    position: absolute
    top: 0
    transition-duration: .3s
    width: 80px

    &:hover
      background-color: rgba(#000, .5)
      opacity: 1

    &--prev
      left: 0

    &--next
      right: 0

  &__dots
    bottom: 10px
    left: 50%
    position: absolute
    transform: translateX(-50%)

  &__dot
    margin: 0 10px

    button
      background-color: transparent
      border: 1px solid #fff
      border-radius: 50%
      cursor: pointer
      display: block
      height: 10px
      font-size: 0
      line-height: 0
      margin: 0
      padding: 0
      transition-duration: .3s
      width: 10px

    &--current,
    &:hover
      button
        background-color: #fff

// Slides styles
.slide
  display: flex
  align-items: center
  justify-content: flex-start

  img
    object-fit: cover
    height: 550px
    width: 100%

  .caption
    color: white
    margin-top: -35px
    margin-left: 100px
    width: 50%
    text-align: left
    position: absolute
    font-size: 30px
    font-weight: 300
    h5
      font-size: 20px
      font-weight: 400
      margin-bottom: 10px
    h2
      margin-top: 10px

</style>

<style lang="scss">
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px) {

  .agile__nav-button {
    width: 35px;
  }

  .slide {
    img {
      height: 300px;
    }
    .caption {
      margin-left: 50px;
      font-size: 125%;
      width: 75%;
      h5 {
        font-size: 15px;
        margin-bottom: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      h2 {
        font-size: 26px;
        margin-top: 10px;
      }
    }
  }
}
</style>
