<template>
  <div id="app">
    <div class="wrapper" :class="requisitionState ? 'perspective' : ''">
      <Header />
      <router-view/>
      <Footer />
    </div>
    <Requisition :open="requisitionState" />
    <div class="btn" v-scroll-to="'header'" :class="requisitionState ? 'hide' : ''" @click="requisitionOpen()">Оставить заявку</div>
  </div>
</template>

<script>
import Header from "@/components/Header";
import Requisition from "@/components/Requisition";
import Footer from "@/components/Footer";

export default {
  components: {
    Header, Requisition, Footer
  },
  data() {
    return {
      isRequisitionOpen: false
    }
  },
  computed: {
    requisitionState() {
      return this.$store.getters.requisitionState
    }
  },
  methods: {
    requisitionOpen() {
      setTimeout(() => { this.$store.commit('setRequisitionState', true) }, 500)
    }
  }
}

</script>

<style lang="scss">
@import 'assets/fonts/stylesheet.css';

body {
  margin: 0;
  padding: 0;
}
#app {
  font-family: 'MTS Sans', Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
.wrapper {
  position: relative;
  transform: perspective(0px) rotateY(0deg);
  overflow: unset;
  height: 100vh;
  background: #fff;
  transform-origin: 0 50%;
  transition: all .8s cubic-bezier(.3,.9,.5,1);
}
.wrapper.perspective {
  position: absolute;
  transform: perspective(calc(100vw - 670px)) rotateY(10deg);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  box-shadow: 0 2px 50px rgba(0,0,0,.15);
  background: #fff;
  opacity: .99;
}
.btn {
  display: none;
  margin: 20px 0 0;
  text-align: left;
  position: relative;
  font-size: 14px;
  line-height: 1;
  background: #e30613;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: 5px;
  /*transition: background .2s linear,color .2s linear,border .2s linear,box-shadow .2s linear;*/
  padding: 9px 20px 11px;
  height: 36px;
  vertical-align: middle;
  cursor: pointer;
  color: white;
  font-weight: 500;
  transition: .8s;
  opacity: 1;
  &:hover {
    background-color: #cc061a;
    color: #fff;
  }
}
.btn.hide {
  opacity: 0;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
  .wrapper.perspective {
    transform: perspective(350px) rotateY(50deg);
  }
  .btn {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
  }
}
</style>
